<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Replay Comment</title>
</head>
<body>
    <table>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td><a href="{% url 'home_page' %}"><b><img src="{% static 'img/logo.gif' %}" alt="logo"></td>
                                <td><b>Add Comment</b></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                    {{ comment.user }} {{ comment.time| naturaltime }} | on: {{ comment.news }}
                                </div>
                                <div>
                                    {{ comment.text }}
                                    <br>
                                    <br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <form method="post" >
                                    {% csrf_token %}
                                    {{ form.text }}<br>
                                    <button type="submit">Replay</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
    </table>
</body>
</html>
