{% extends 'news/layout.html' %}
{% load static %}
{% block title %} Hidden News {% endblock %}
{% block body %}

{% for line in hidden_news %}
    <table>
        <tbody>
        <tr>
            <td>
                <table>
                    <tobdy>
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><form method="post" action="{% url 'like_news' %}">
                                {% csrf_token %}
                                    <input type="hidden" name="news_id" value={{line.news.id}}>
                                    {% if user not in line.news.like.all %}
                                        <button type="submit">Like</button>
                                    {% else %}
                                        <button type="submit">Unlike</button>
                                    {% endif %}
                                </form>
                                {% if not line.news.url %}
                                {{ line.news.title }}

                                {% else %}
                                <a href="{{ line.news.url }}">{{ line.news.title }}</a>
                                ( {{ line.news.url}} )
                                {% endif %}
                            </td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td></td>
                            <td>{{ line.news.like.all.count }}
                                by <a href="">{{line.user}}</a>
                                {{ line.news.time }}
                                 <a href="{% url 'comment_news' line.news.id %}">comments </a>
                            </td>
                        </tr>
                        <tr></tr>
                    </tobdy>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
