{% extends 'news/layout.html' %}
{% load humanize %}
{% block title %} Comment {% endblock %}
{% block body %}
<table>
    <tbody>
    <tr>
        <td>
            <table>
                <tobdy>
                    <tr>
                        <td></td>
                        <td>
                            {% if user.is_authenticated %}
                                <form class="homebut" method="post" action="{% url 'like_comments' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="news_id" value={{news.id}}>
                                    {% if user not in news.like.all %}
                                        <button type="submit">Like</button>
                                    {% else %}
                                        <button type="submit">Unlike</button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <a href="{% url 'login_view' %}"><button>Like</button></a>
                            {% endif %}
                            {% if not news.url %}
                                {{ news.title }}
                                    {% else %}
                            <a href="{{ news.url }}">{{ news.title }}</a>
                                ( {{ news.url}} )
                            {% endif %}
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td>{{news.like.all.count}}
                            {{points}}
                            by <a href="{% url 'account_detail' news.user.id %}">{{news.user}}</a>
                            {{ news.time | naturaltime }} |
                            {% if user.is_authenticated %}
                                <form class="homebut" method="post" action="{% url 'hide_news'%}">
                                    {% csrf_token %}
                                    <input type="hidden" name="hide_user" value="{{news.user}}">
                                    <input type="hidden" name="hide_news" value="{{news.id}}">
                                    <button  type="submit">Hide</button> |
                                </form>
                            {% else %}
                                <a href="{% url 'login_view'%}" ><button  type="submit">Hide</button></a> |
                            {% endif %}
                            <a href="{% url 'comment_news' news.id %}"> {{ counts }} comments </a>
                        </td>
                        <td></td>
                    </tr>
                    <tr> </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            {{ news.text }}
                        </td>
                    </tr>
                </tobdy>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% if user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comment</button>
    </form>
{% else %}
     <form>
        {% csrf_token %}
        {{ form.as_p }}
    </form>
<br>
    <a href="{% url 'login_view' %}"><button> Comment </button></a>
{% endif %}
<br>
<br>
<br>
<br>
<table>
    <tbody>
    {% for comment in comments %}
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td>
                        <div>
                         <a href="{% url 'account_detail' comment.user.id %}">{{ comment.user }}</a>  {{ comment.time| naturaltime }}
                        </div>
                        <div>
                            {{ comment.text }}
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                                <a href="{% url 'comment_replay' comment.id %}">Replay</a>
                            {% else %}
                                <a href="{% url 'login_view' %}">Replay</a>
                            {% endif %}
                        </div>
                        <div><div>

                            </div>

                        </div>
                    </td>
                    <td>
                    </td>

                </tr>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            {%for comm in replay %}
                                {% if comm.comment.id == comment.id %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <div>
                                       <a href="{% url 'account_detail' comm.user.id %}">{{ comm.user }}</a>  {{ comm.time | naturaltime}}
                                    </div>
                                    <div class="commpad">
                                        {{ comm.text }}
                                    </div>
                                </td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}